<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435318308339-ao6gc8a3nohbmlqpjl63a4g6iethslij.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435318308339-ao6gc8a3nohbmlqpjl63a4g6iethslij</string>
	<key>API_KEY</key>
	<string>AIzaSyDfrz9dw77GNZxADKX-v9JK5PFZ9Ozrw9s</string>
	<key>GCM_SENDER_ID</key>
	<string>435318308339</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication5.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>domini-35e8e</string>
	<key>STORAGE_BUCKET</key>
	<string>domini-35e8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435318308339:ios:d9f03311c37d3094b16686</string>
</dict>
</plist>